# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
venv_b2b/
.env
*.env

# Django
db.sqlite3
media/
staticfiles/
static/
*.log

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
